@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font: 16px 'Open Sans Condensed', sans-serif
}

/* logo */
.left-container {
    margin-top: 10px
}

/* Navigation */
.navbar-default,
.navigation-menu {
    margin-bottom: 0px;
    background-color: #06263b;
    border-color: #06263b;
}

/* Search */
.top-search {}
.top-search input.form-control {
    border-color: #f4f4f1;
    background-color: #f4f4f1
}
.top-search span button:hover,
.top-search span button {
    border-radius: 0;
    color: #fff;
    background-color: #06263b
}

/* Center Container */
.center-container {
    top: 55px
}

.top-line,
.bottom-line {
    padding: 10px
}
.top-link span {
    color: #b0b0b0
}
.top-line a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer
}
.top-line a img {
    height: 23px
}
.login-link {
    padding-right: 15px
}
.register-link,
.date-link {
    border-left: 1px solid #d8d8d8;
    padding: 0 15px
}

/* Buttons */
.btn-orange,
.btn-blue,
.btn-grey {
    border-radius: 0;
    font-size: 14px;
    color: #fff
}
.btn-orange {
    text-transform: uppercase;
    border-color: #f27600;
    background-color: #f27600
}
.btn-blue {
    text-transform: uppercase;
    border-color: rgb(32, 61, 79);
    background-color: rgb(32, 61, 79)
}
.btn-grey {
    border-color: rgb(86, 86, 86);
    background-color: rgb(86, 86, 86)
}

/* Navigation Menu */
.navbar {
    min-height: 43px;
}
.nav-justified > li > a {
    padding: 5px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase
}
.nav-justified > li > a:hover {
    background: transparent;
    border-bottom: 3px solid #fff
}

/* Columns */
.columns {
    margin: 20px 0;
}

/* Media */
.media-container,
.media {
    margin-top: 20px
}
.media-header h4 {
    padding-left: 5px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold
}
.media-body {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px
}
.media-date {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 0 5px
}
.media-object {
    border: 1px solid #ddd
}

/* Panels */
.panel {
    margin-top: 20px;
    border: none
}
    .panel .panel-heading {
        position: absolute;
        min-width: 300px;
        z-index: 2000;
        background: #f27600;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        padding: 5px 15px;
        text-transform: uppercase; 
        border-radius: 0;
        border-left: 7px solid #06263b; 
        border-bottom: none
    }
    .panel .panel-body {
        padding: 55px 0 0
    }

/* Add container */
.add-icon img{
    height:45px;
}
.add-container {
    padding: 5px 12px;
    background-color: #f4f4f1;
}
.add-actions{
    top: 20px;
    left: 75px;
    position: absolute;
}
.add-actions a{
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}
.add-actions a:after {
    content: '\25CF';
    font-size: 16px;
    color: #f27600;
    padding: 0px 10px;
}
.add-actions a:last-child:after {
    content: '';
}
.add-title {
    color: #f27600;
    position: absolute;
    left: 75px;
    font-style: italic;
    font-size: 18px;
    font-weight: bolder;
    top: 0px;
}
/* Tabs panel */
.nav-tabs {
    border-radius: 0px;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #f27600;
    color: white;
    border-left: 7px solid #06263b;
    min-width: 100%;
    padding: 5px 15px;
    border-bottom: none;
}
.nav-tabs>li {
    color: white;
    border-bottom: 5px solid #f59133;
}
.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a {
    padding: 5px 10px;
    color: white;
    background-color: transparent;
    border:none;
}
.nav-tabs>li.active {
    background-color: transparent;
    border-bottom: 5px solid white;
}
.footer {
    background-color: #06263b;
    border-color: #06263b;
}
ul.footer-nav {
    list-style-type: none;
}
ul.footer-nav li a {
    font-size: 18px;
    font-weight: bolder;
    color:white;
    text-transform: uppercase;
}
.contact-form .form-group input{
    height:30px;
}
.contact-form .form-group .form-control{
    color: white;
    background-color: rgba(32, 61, 79, 1);
    background-image: none;
    border: 1px solid rgba(32, 61, 79, 1);
}
.copyright{
    background-color: rgba(32, 61, 79, 1);
    background-image: none;
    border: 1px solid rgba(32, 61, 79, 1);
}
.copyright .container{
    color: white;
    padding: 5px;
}
/* Login modal */
.modal-header {
    border-bottom: none;
    padding: 25px 10px;
}
.modal-header .close{
    color: #f27600;
    border: 1px solid #f27600;
    border-radius: 5px;
    padding: 0px 5px;
}
.modal-header img {
    float: left;
}
.modal-title {
    padding: 3px 40px;
    color: #f27600;
}
.modal-content {
    border-radius: 0px;
    border-top: 4px solid #f27600;
    border-left: 0px solid white;
}
.login-form .form-group .form-control {
    padding: 18px 10px;
    background-color: rgba(242,242,244,1);
    font-weight: bolder;
    border-color: rgba(230,230,230,1);
    border-radius: 0px;
    border-right: none;
}
.login-form .form-group .input-group-addon {
    border-color: rgba(230,230,230,1);
    border-radius: 0px;
    border-left: none;
    background-color: rgba(242,242,244,1);
}
/* Package buy */
.package {
    border: 1px solid silver;
    height: 100px;
    margin-bottom: 10px;
}
.package .package-title {
    font-family: 'Open Sans Condensed Bold', sans-serif;
}




/* =======================================
                UNIQUES STYLES 
 ========================================= */
.no-padding {
    padding: 0 !important
}




/* =======================================
                MAIN PAGE 
 ========================================= */
/* ---------------- Events -----------------*/
.today-events {
    background: #06263b;
    color: #fff
}
    .today-events a {
        color: #fff
    }
    .today-events__header {
        text-align: center
    }
        .today-events__title {
            display: inline-block;
            font: 20px/2.5em 'MyriadPro-Regular', Arial, sans-serif;
            margin: .5em 0 1em;
            text-transform: uppercase;
            border-bottom: 5px solid
        }
    .today-events__list {
        height: 275px;
        margin-bottom: 15px
    }
        .today-events__item {
            margin-bottom: 15px
        }
            .today-event--child {
                display: inline-block;
                vertical-align: top
            }
            .today-event__thumbnail {
                margin-right: -4px;
                width: 30%;
                background: #fff;
                line-height: 80px;
                text-align: center
            }
            .today-event__content {
                width: 65%;
                margin-left: 5%
            }
                .today-event__title {
                    margin: 0 0 5px;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase
                }
                .today-event__content > p {
                    margin: 0;
                    font: 14px 'Open Sans', Arial, sans-serif
                }